<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Django App{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body class="bg-gray-50">

    <!-- Navigation -->
    {% include "core/navigation.html" %}

    <!-- Hero Section -->
    {% include 'core/hero.html' %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
   {% include 'core/footer.html' %}

    {% block extra_scripts %}{% endblock %}
  </body>
</html>